.flex-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.right-buttons {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.number-input-field {
    width: 40px;
    text-align: center;
}

.content-table table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.content-table th, .content-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.content-table td:nth-child(1) {
    background-color: #f2f2f2;
}

.content-table th {
    background-color: #f2f2f2;
    color: black;
}

.content-table tbody {
    counter-reset: row-number;
}

.content-table tbody tr td:nth-child(1)::before {
    counter-increment: row-number;
    content: counter(row-number);
}

.content-table td:nth-child(1),
.content-table th:nth-child(1) {
    width: 30px;
    text-align: center;
}