<!DOCTYPE html>
<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="flex-container">
    <button id="prev-page-button" disabled="disabled">Prev page</button>
    <button id="next-page-button" disabled="disabled">Next page</button>
    <span>|</span>
    <button id="first-page-button" disabled="disabled">First page</button>
    <button id="last-page-button" disabled="disabled">Last page</button>
    <span>|</span>
    <label for="page-size-input">Page size</label>
    <input id="page-size-input" type="number" value="${webConfig.pageDefaultElementsSize}"
           class="number-input-field" disabled="disabled">
    <button id="set-page-size-button" disabled="disabled">Set</button>
    <span>|</span>
    <div id="info-label">
        <span>Select list to show:</span>
    </div>
    <div class="right-buttons">
        <button id="person-list-button">Persons</button>
        <button id="company-list-button">Companies</button>
        <button id="hobby-list-button">Hobbies</button>
    </div>
</div>

<hr>

<div class="flex-container">
    <button id="fill-persons-button" disabled="disabled">Fill</button>
    <input id="fill-person-count-input" type="number" value="10"
           class="number-input-field" disabled="disabled">
    <span> random persons with </span>
    <input id="fill-person-hobby-max-count-input" type="number" value="5"
           class="number-input-field" disabled="disabled">
    <span> max hobbies. Or </span>
    <button id="truncate-persons-button" disabled="disabled">Clear</button>
    <span> all persons.</span>
</div>

<div class="flex-container">
    <button id="fill-companies-button" disabled="disabled">Fill</button>
    <input id="fill-company-count-input" type="number" value="50"
           class="number-input-field" disabled="disabled">
    <span> random companies. Or </span>
    <button id="truncate-companies-button" disabled="disabled">Clear</button>
    <span> all companies.</span>
</div>

<div class="flex-container">
    <button id="fill-hobbies-button" disabled="disabled">Fill</button>
    <input id="fill-hobby-count-input" type="number" value="50"
           class="number-input-field" disabled="disabled">
    <span> random hobbies. Or </span>
    <button id="truncate-hobbies-button" disabled="disabled">Clear</button>
    <span> all hobbies.</span>
</div>

<hr>

<div class="content-table">
    <table>
        <thead id="content-thead">
        </thead>
        <tbody id="content-tbody">
        </tbody>
    </table>
</div>

<div id="endpoints-container"
     data-person-truncate-api-path="${endpoints.personTruncateApiPath}"
     data-person-list-api-path="${endpoints.personListApiPath}"
     data-person-fill-api-path="${endpoints.personFillApiPath}"
     data-company-truncate-api-path="${endpoints.companyTruncateApiPath}"
     data-company-list-api-path="${endpoints.companyListApiPath}"
     data-company-fill-api-path="${endpoints.companyFillApiPath}"
     data-hobby-truncate-api-path="${endpoints.hobbyTruncateApiPath}"
     data-hobby-list-api-path="${endpoints.hobbyListApiPath}"
     data-hobby-fill-api-path="${endpoints.hobbyFillApiPath}">
</div>

<div id="web-config-container"
     data-page-update-interval="${webConfig.pageUpdateIntervalMs}">
</div>

<script src="/js/utility.js"></script>
<script src="/js/main.js"></script>

</body>