<!DOCTYPE html>
<head>
    <title>Persons</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="toolbar-container">
    <div id="page-buttons">
        <button id="prev-page-button" disabled="disabled">Prev page</button>
        <button id="next-page-button" disabled="disabled">Next page</button>
        <span>|</span>
        <button id="first-page-button" disabled="disabled">First page</button>
        <button id="last-page-button" disabled="disabled">Last page</button>
        <span>|</span>
        <button id="fill-data-button">Fill data</button>
    </div>
    <span>|</span>
    <div id="page-info-label">
        <span>Loading info...</span>
    </div>
    <div class="right-buttons">
        <button onclick="window.location='${endpoints.personsListPath}'">Persons</button>
        <button onclick="window.location='${endpoints.companiesListPath}'">Companies</button>
    </div>
</div>

<div class="content-table">
    <table>
        <thead id="content-thead">
        <tr>
            <th></th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Hobbies</th>
        </tr>
        </thead>
        <tbody id="content-tbody">
        <tr>
            <td></td>
            <td>Loading data...</td>
        </tr>
        </tbody>
    </table>
</div>

<div id="page-data-variables"
     data-content-api-path="${endpoints.personsListApiPath}"
     data-current-page="${pageNumber}"
     data-page-size="${pageSize}"
     data-update-interval="${webConfig.pageUpdateIntervalMs}">
</div>

<script src="/js/createPersonsRow.js"></script>
<script src="/js/pageableDataUpdate.js"></script>

</body>