<!DOCTYPE html>
<head>
    <title>Persons</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="pagination-container">
    <div id="page-buttons">
<!--        #set($lastPage = $contentPage.totalPages - 1)-->
<!--        #set($prevPage = $contentPage.number - 1)-->
<!--        #set($nextPage = $contentPage.number + 1)-->
        <button id="prevPageButton" disabled="disabled"
                onclick="window.location='${contentPath}?page=${prevPage}&size=${contentPage.size}'">Prev page
        </button>
        <button id="nextPageButton" disabled="disabled"
                onclick="window.location='${contentPath}?page=${nextPage}&size=${contentPage.size}'">Next page
        </button>
        <span>|</span>
        <button id="firstPageButton" disabled="disabled"
                onclick="window.location='${contentPath}?page=0&size=${contentPage.size}'">First page
        </button>
        <button id="lastPageButton" disabled="disabled"
                onclick="window.location='${contentPath}?page=${lastPage}&size=${contentPage.size}'">Last page
        </button>
    </div>
    <span>|</span>
    <div id="page-input-form">
        <form action="${contentPath}" method="get">
            <input type="number" name="page" min="0" placeholder="Page num" required class="page-input-field">
            <input type="hidden" name="size" value="${contentPage.size}">
            <button type="submit">Go to page</button>
        </form>
    </div>
    <span>|</span>
    <div id="page-info-label">
        <span>Page: ${contentPage.number} / ${lastPage}. Total elements: ${contentPage.totalElements}</span>
    </div>
    <div class="right-buttons">
        <button onclick="window.location='/persons/list?size=${contentPage.size}'">Persons</button>
        <button onclick="window.location='/companies/list?size=${contentPage.size}'">Companies</button>
    </div>
</div>

<div id="content-table" class="content-table">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Hobbies</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>Loading data...</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    const contentApiPath = "${contentApiPath}";
    const contentPageNumber = ${contentPage.number};
    const contentPageSize = ${contentPage.size};
    const updateInterval = ${updateInterval};
</script>

<script>
    function updateData() {
        const fetchUrl = `${contentApiPath}?page=${contentPageNumber}&size=${contentPageSize}`;
        fetch(fetchUrl)
            .then(response => response.json())
            .then(data => {
                const lastPage = data.totalPages - 1;

                document.getElementById('prevPageButton').disabled = data.first;
                document.getElementById('nextPageButton').disabled = data.last;
                document.getElementById('firstPageButton').disabled = data.first;
                document.getElementById('lastPageButton').disabled = data.last;

                document.getElementById('page-info-label').innerHTML = `Page: ${data.number} / ${lastPage}. Total elements: ${data.totalElements}`;

                const tbody = document.querySelector('#content-table tbody');
                tbody.innerHTML = '';

                data.content.forEach(person => {
                    const row = document.createElement('tr');

                    const hobbies = person.hobbies.map(hobby => hobby.hobbyName).join('<br>');
                    row.innerHTML = `
                        <td></td>
                        <td>${person.email}</td>
                        <td>${person.firstName}</td>
                        <td>${person.lastName}</td>
                        <td>${person.companyName}</td>
                        <td>${hobbies}</td>
                    `;

                    tbody.appendChild(row);
                });
            })
            .catch(error => console.error('Error by updating content:', error));
    }

    setInterval(updateData, updateInterval);
</script>

</body>
</html>