<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Persons</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

#set($lastPage = $contentPage.totalPages - 1)
#set($prevPage = $contentPage.number)
#set($nextPage = $contentPage.number)

#if ($lastPage < 0)
#set($lastPage = 0)
#end

#if ($contentPage.hasPrevious())
#set($prevPage = $contentPage.number - 1)
#end

#if ($contentPage.hasNext())
#set($nextPage = $contentPage.number + 1)
#end

<div class="pagination-container">
    <div id="page-buttons">
        <button onclick="window.location='${contentPath}?page=${prevPage}&size=${contentPage.size}'">Prev page</button>
        <button onclick="window.location='${contentPath}?page=${nextPage}&size=${contentPage.size}'">Next page</button>
        <span>|</span>
        <button onclick="window.location='${contentPath}?page=0&size=${contentPage.size}'">First page</button>
        <button onclick="window.location='${contentPath}?page=${lastPage}&size=${contentPage.size}'">Last page</button>
    </div>
    <span>|</span>
    <div id="page-input-form">
        <form action="${contentPath}" method="get">
            <input type="number" name="page" min="0" placeholder="Page num" required class="page-input-field">
            <input type="hidden" name="size" value="${contentPage.size}">
            <button type="submit">Go to page</button>
        </form>
    </div>
    <span>|</span>
    <div id="page-info-label">
        <span>Page: ${contentPage.number} / ${lastPage}. Total elements: ${contentPage.totalElements}</span>
    </div>
    <div class="right-buttons">
        <button onclick="window.location='/persons/list?size=${contentPage.size}'">Persons</button>
        <button onclick="window.location='/companies/list?size=${contentPage.size}'">Companies</button>
    </div>
</div>

<div id="content-table" class="content-table">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Hobbies</th>
        </tr>
        </thead>
        <tbody>
        #foreach ($person in $contentPage.content)
        <tr>
            <td></td>
            <td>${person.email}</td>
            <td>${person.firstName}</td>
            <td>${person.lastName}</td>
            <td>${person.companyName}</td>
            <td>
                #foreach ($hobby in $person.hobbies)
                ${hobby}<br>
                #end
            </td>
        </tr>
        #end
        </tbody>
    </table>
</div>

<div id="update-content-data"
    data-content-path="${contentPath}"
    data-current-page="${contentPage.number}"
    data-page-size="${contentPage.size}"
    data-update-interval="${updateInterval}">
</div>

<script src="/js/updateContent.js"></script>

</body>
</html>